<%- include("includes/head.ejs") %>
<title>index</title>
</head>

<%- include("includes/navigation.ejs") %>
<h1 class="text-center">coucou cookbooks index </h1>
<div class="container">
  <div class="recipes">
    <% if (cookbooks.length > 0) { %>
      <% for(let cookbook of cookbooks){ %>
        <div class="card-product">
          <h2 class="text-center"> <%=cookbook.title%></h2>
          <img src="<%= cookbook.imageUrl%>" />
          <div class="card-product-infos">
            <p> <%= cookbook.theme%></p>
            <button class="btn btn-primary">
              <a href="/cookbooks/<%=cookbook.id%>" class="text-white text-decoration-none"> See the full cookbook </a>
            </button>
            <form method="post" action="/delete-cookbook">
              <input type="hidden" name="id" value="<%=cookbook.id%>">
              <button class="btn btn-danger" type="submit">Delete this Cookbook</button>
            </form>

          </div>
        </div>
        <% }%>
        <% } else { %>
        <h1>No Cookbooks Found!</h1>
    <%} %>
  </div>

  <button class="btn btn-primary">
    <a href="/new-cookbook" class="text-white text-decoration-none"> Add a cookbook </a>
  </button>
</div>
<%- include("includes/end.ejs") %>
