<%- include("includes/head.ejs") %>
<title>index</title>
</head>

<%- include("includes/navigation.ejs") %>
<h1 class="text-center">coucou cookbook-recipes </h1>
<div class="container">
  <div class="recipes">
    <% if (recipes.length > 0) { %>
      <% for(let recipe of recipes){ %>
        <div class="card-product">
          <h2 class="text-center"> <%=recipe.name%></h2>
          <img src="<%= recipe.imageUrl%>" />
          <div class="card-product-infos">
            <p> <%= recipe.description%></p>
            <p>Preparation time:  <%= recipe.time%>Minutes</p>
            <button class="btn btn-primary">
              <a href="/recipes/<%=recipe.id%>" class="text-white text-decoration-none"> See the full recipe </a>
            </button>
            <button class="btn btn-danger">
              <a href="/edit-recipe/<%=recipe.id%>?edit=true" class="text-white text-decoration-none"> Edit this recipe</a>
              <input type="hidden" name="id" value="<%=recipe.id%>">
            </button>

          </div>
        </div>
        <% }%>
        <% } else { %>
        <h1>No Recipes Found!</h1>
    <%} %>
  </div>

  <button class="btn btn-primary">
    <a href="/add-recipe" class="text-white text-decoration-none"> Add a recipe </a>
  </button>
</div>
<%- include("includes/end.ejs") %>
