<%- include("includes/head.ejs") %>
<title><%= cookbook.name%></title>
</head>
<%- include("includes/navigation.ejs") %>
<h1 class="text-center"> <%=cookbook.name%></h1>
<div class="container">
  <div class="offset-4">
    <h3 class="text-center my-4" > A few words... </h3>
    <img class="cookbook-show-img" src="<%= cookbook.imageUrl%>" alt="recipe picture">
  </div>
  <p class="my-4"><%= cookbook.description %>   </p>
  <a class="text-white" href="/cookbooks/<%=cookbook.id%>/recipes"> Discover the recipes</a>
</div>
<form method="post" action="/delete-cookbook">
  <input type="hidden" name="id" value="<%=cookbook.id%>">
  <button class="btn btn-danger" type="submit">Delete this cookbook</button>
</form>
<%- include("includes/end.ejs") %>
