<%- include("includes/head.ejs") %>
</head>

<%- include("includes/navigation.ejs") %>
<h1 class="text-center">coucou index </h1>

<% if (recipes.length > 0) { %>
  <% for(let recipe of recipes){ %>
    <div class="card-product">
      <img src="<%= recipe.image%>" />
      <div class="card-product-infos">
        <h2> <%=recipe.name%></h2>
        <p> <%= recipe.description%></p>
        <p> <%= recipe.description%></p>
        <button class="btn btn-danger">
          <a href="/:id/recipe" class="text-white text-decoration-none"> Delete recipe </a>
        </button>
      </div>
    </div>
    <% }%>
    <% } else { %>
    <h1>No Recipes Found!</h1>
<%} %>

<button class="btn btn-primary">
  <a href="/add-recipe" class="text-white text-decoration-none"> Add a recipe </a>
</button>
<%- include("includes/end.ejs") %>
