<%- include("includes/head.ejs") %>
<title>index</title>
</head>

<%- include("includes/navigation.ejs") %>
<h1 class="text-center">coucou savings </h1>
<div class="container">
  <div class="recipes">
    <% if (recipes.length > 0) { %>
      <% for(let recipe of recipes){ %>
        <div class="card-product">
          <h2 class="text-center"> <%=recipe.name%></h2>
          <img src="<%= recipe.imageUrl%>" />
          <div class="card-product-infos">
            <p> <%= recipe.description%></p>
            <p>Preparation time:  <%= recipe.time%>Minutes</p>
            <button class="btn btn-primary">
              <a href="/recipes/<%=recipe.id%>" class="text-white text-decoration-none"> See the full recipe </a>
            </button>
            <form method="POST" action="/delete-save">
              <input type="hidden" name="id" value="<%=recipe.id%>">
              <button class="btn btn-danger" type="submit">Remove</button>
            </form>
          </div>
        </div>
        <% }%>
        <% } else { %>
        <h1>No Recipes Added in Savings!</h1>
    <%} %>
  </div>

</div>
<%- include("includes/end.ejs") %>
