 <%- include("../includes/head.ejs") %>
<title>index</title>
</head>
<%- include("../includes/navigation.ejs") %>
<div class="container">
  <% if (errorMessage) {%>
  <div class="user-message user-message--error"><%= errorMessage %></div>
  <% } %>
  <form class="col-6 offset-3 my-5">
    <div class="form-group row">
      <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
      <div class="col-sm-10">
        <input type="email"
        class="form-control <%=validationErrors.find(e => e.param === 'email') ? 'border border-danger' : ""%>"
        id="inputEmail3"
        placeholder="Email"
        name="email"
        value="<%=oldInput.email%>">
      </div>
    </div>
    <div class="form-group row">
      <label for="inputPassword3" class="col-sm-2 col-form-label">Password</label>
      <div class="col-sm-10">
        <input type="password"
        class="form-control <%=validationErrors.find(e => e.param === 'password') ? 'border border-danger' : ""%>"
        id="inputPassword3"
        placeholder="Password"
        name="password"
        value="<%=oldInput.password%>">
      </div>
    </div>
    <div class="form-group row">
      <div class="col-sm-10">
        <form method="post" action="/login">
          <button formmethod="post" formaction="/login" type="submit" class="btn btn-primary">Sign in</button>
        </form>
        <div>
          <a href="/reset-account"> Reset Password</a>
        </div>
      </div>
    </div>
  </form>
</div>

<%- include("../includes/end.ejs") %>
