<%- include("../includes/head.ejs") %>
<title>index</title>
</head>
<%- include("../includes/navigation.ejs") %>
<div class="container">
  <% if (errorMessage) {%>
    <div class="user-message user-message--error"><%= errorMessage %></div>
    <% } %>
  <form class="col-6 offset-3 my-5" action="/new-password" method="POST">
    <div class="form-group row">
      <label for="inputPassword3" class="col-sm-2 col-form-label">New Password</label>
      <div class="col-sm-10">
        <input type="password" class="form-control" id="inputPassword3" placeholder="Password" name="password">
      </div>
    </div>
    <div class="form-group row">
      <label for="inputPassword3" class="col-sm-2 col-form-label">Confirm Password</label>
      <div class="col-sm-10">
        <input type="password" class="form-control" id="inputPassword3" placeholder="Password"  name="confirmedPassword">
      </div>
    </div>
    <div class="form-group row">
      <div class="col-sm-10">
        <input type="hidden" name="userId" value="<%=userId%>">
        <input type="hidden" name="token" value="<%=token%>">
        <form method="post" action="/new-password">
          <button formmethod="post" formaction="/new-password" type="submit" class="btn btn-primary">Update Password</button>
        </form>
      </div>
    </div>
  </form>
</div>

<%- include("../includes/end.ejs") %>
